.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-background {
  padding: 10px;
  color: white;
  background-color: brown;
}

nav {
  margin-left: 0px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: brown;
  box-shadow: 0 5px 10px #ccc;
  min-width: 320px;
  padding-bottom: 5px;
}


nav a {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  text-decoration: none;
}


.link {
  color: white;
}


.link-active {
  color: black;
  background: orange;
}

.captureTitle {
  margin-top: 50px;  
}

.signInPage {
  margin-top: 50px;
}

#email {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 45px;
  padding: 3px;
}

#password {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  padding: 3px;
}

.signIn {
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 30px;
}


