* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  overflow-x: hidden;

}


body, html {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  background-image: url('https://img.freepik.com/premium-vector/cute-rural-spring-landscape-tree-field-mountains-cartoon-style_114352-662.jpg?w=900');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
}


.profileContainer {
  text-align: center;
  background-image: url('https://img.freepik.com/premium-vector/cute-rural-spring-landscape-tree-field-mountains-cartoon-style_114352-662.jpg?w=900');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
  min-height: 750px;
  background-size: 100% 100%
}


.captured-card {
  margin-bottom: 1em;
  margin-left: 0.9em;
  margin-right: 0.9em;
  display: block; 
  border: 0.5px solid rgb(185, 175, 175);
}

.captured-card-birdname {
  margin-bottom: 0.1em;
}

.all-birds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1.5rem;
  margin-top: 1em;
}

.all-birds img {
  width: 250px;
  height: 250px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-background {
  padding: 10px;
  color: white;
  background-color: brown;
  background-image: url("birdie.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

nav {
  margin-left: 0px;
  height: 300px;
  display: flex;
  background-repeat: no-repeat;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  /* background-image: url("birdie.jpg"); */
  background-size: cover;
}

nav a {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  vertical-align: text-top;
  margin-top: -250px;
}

.WelcomeTitle {
  color: #f16666;
  position: relative;
  font-weight: 400;
  left:40%;
  margin-bottom: 10%;
  margin-top: 2%;
}


.search {
  padding: 7px;
  border: none;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

.link {
  color: black;
  height: 30px;
}

.link-active {
  color: black;
  background: rgb(5, 210, 247);
}

.captureTitle {

  margin-top: 50px;  
  color: #000000;
  position: relative;
  font-size: 1.3em;
  font-weight: 400;
}

.box{
  position: relative;
}



.input {
  padding: 7px;
  width: 19%;
  background: none;
  border: 4px solid #ffd52d;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 18px;
  color: #ffd52d;
  outline: none;
  transition: .5s;
  margin-bottom: 3%;
}
.box:hover input{
  width: 350px;
  background: #55e1eb;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: #ffd52d;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}


.signInPage {
  margin-top: 50px;
}

#email {
  width: 250px;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 12px;
  padding: 3px;
}

#password {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 36px;
  padding: 3px;
}

.signUpPage {
  margin-top: 50px;
}

.button {
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.positioning {
  margin-top: 100px;
}

.signInPage {
  margin-top: 50px;
}

.button {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 7px;
}

h1 {
  background-color: brown;
  padding: 15px;
}

.forgot {
  margin-top: 500px;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitle {
  margin-top: 20px;
}

.button3{
  padding: 7px;
  margin-top: 30px;

}

.pagination {
  display: inline-flex;
  background-color: white;
  list-style: none;
  color: black;
  margin-top: 50px;
}

.pagination li {
  margin: 5px;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.alignment {
  margin-top: 70px;
}

.identification {
  margin-top: 30px;
  align-items: center;
}

#results {
  margin-top: 50px;
}

#identifyBtn {
  margin-right: 15px;
}

#clearAllBtn {
  margin-left: 15px;
}

.search {
  padding: 7px;
}

.capture {
  margin-top: 80px;
}

.capture img {
  width: 200px;
  height: 200px;
}

.list {
  margin: 5px;
}
