.App {
  text-align: center;
}

body, hrml {
  width: 100%;
  height: 100%;
}

.captured-card {
  margin-bottom: 1em;
  margin-left: 0.9em;
  margin-right: 0.9em;
}

.captured-card-birdname {
  margin-bottom: 0.1em;
}

.all-birds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1.5rem;
  margin-top: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-background {
  padding: 10px;
  color: white;
  background-color: brown;
}

nav {
  margin-left: 0px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: brown;
  box-shadow: 0 5px 10px #ccc;
  min-width: 320px;
  padding-top: 15px;
  padding-bottom: 15px;
}


nav a {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  text-decoration: none;
}


.link {
  color: white;
}


.link-active {
  color: black;
  background: orange;
}

.captureTitle {
  margin-top: 50px;  
}

.signInPage {
  margin-top: 50px;
}

#email {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 42px;
  padding: 3px;
}

#password {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 66px;
  padding: 3px;
}


.signUpPage {
  margin-top: 50px;
}

.button {
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.positioning {
  margin-top: 100px;
}

.signInPage {
  margin-top: 50px;
}




.button {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 7px;
}


h1 {
  background-color: brown;
  padding: 15px;
}

.forgot {
  margin-top: 500px;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitle {
  margin-top: 20px;
}


.button2{
  padding: 5px;
}


.pagination {
  display: inline-flex;
  list-style: none;
  cursor: pointer;
  color: white;
}

.pagination li {
  margin: 15px;
  padding: 15px;
  border-radius: 50%;
  background-color: orange;
}